<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Default title{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css public/css/styles.css -->
  <link rel="stylesheet" href="public/css/styles.css">
  <!-- endbuild -->
</head>
<body>
  {% block content %}{% endblock %}

  <!--build:js public/scripts/common.min.js -->
  <script src="public/scripts/common.js"></script>
  <!-- endbuild -->
</body>
</html>
